r_dir_file(fingerprintd, firmware_file)

allow fingerprintd tee_device:chr_file { rw_file_perms };

allow fingerprintd sysfs_fpc_home:file { rw_file_perms };
allow fingerprintd sysfs_fpc_irq:file { rw_file_perms };
allow fingerprintd sysfs_fpc_screen:file { r_file_perms };

allow fingerprintd goodix_fp_device:chr_file { ioctl open read write };
allow fingerprintd self:netlink_socket { bind create read write };
allow fingerprintd fingerprint_service:service_manager find;
allow fingerprintd power_service:service_manager find;
