allow time_daemon diag_device:chr_file { read write open ioctl };
allow time_daemon property_socket:sock_file write;
allow time_daemon init:unix_stream_socket connectto;
