allow wcnss_service self:capability {
    dac_override
    net_raw
};

allow wcnss_service shell_exec:file { r_file_perms execute execute_no_trans };
allow wcnss_service toolbox_exec:file { r_file_perms execute execute_no_trans };
allow wcnss_service diag_device:chr_file { read write open ioctl };
